.login-pf body {
	background-image: url("/images/background.png");
}

.login-pf .container .alert-danger {
	background-color: #ffe6e6;
	color: #363636;
}

.login-pf .container .alert-info {
	background-color: #f5f5f5;
	color: #363636;
}
